.detail-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 .5rem 4rem rgba($color-black, .15);
    border-radius: 3px;
    transition: all .3s;

    &__img {
        width: 70%;
        display: inline-block;
    }
}