.feature-box {
    
    background-color: rgba($color-white, .8);
    padding: 1.5rem;
    text-align: center;

    transition: all .3s;

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    
    &__title {
        margin-top: 2rem;
    }

    &__icon {
        width: 50%;
        margin-top: 5rem;
    }

    &__text {
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-size: $default-font-size;
        letter-spacing: 2px;
        color: $color-grey-dark;
        font-family: 'Circular Std Medium', sans-serif;
    }
}