.feature-box {
    
    &__title {
        margin-top: 2rem;
    }

    &__icon {
        width: 50%;
        margin-top: 5rem;
    }

    &__text {
        margin-top: 5rem;
        text-align: center;
        font-size: $default-font-size;
        letter-spacing: 2px;
        color: $color-black;
        font-family: 'Circular Std Medium', sans-serif;
    }
}