.item-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    border-radius: 3px;
    transition: all .3s;

    &__img {
        width: 100%;
        display: inline-block;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}